.homepage{
	display: grid;
	justify-content: space-around;
	grid-template-columns: 12em auto;
}

.homepage__sidebar{
	position: sticky;
	top: 0;
	height: 100vh;
}

.homepage__portfolio{
	margin-right: 2em;
}

