code {
	background-color: #11042099;
	display: block;
	padding: 20px;
	box-shadow:
		1px 2px 2px hsl(220deg 60% 10% / 0.2),
		2px 4px 4px hsl(220deg 60% 10% / 0.2),
		4px 8px 8px hsl(220deg 60% 10% / 0.2),
		8px 16px 16px hsl(220deg 60% 10% / 0.2),
		16px 32px 32px hsl(220deg 60% 10% / 0.2);
	;
}


